body, html {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: sans-serif;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 30px;
}
.toDoListArea {
  display: flex;
  flex-direction: column;
  border: solid 5px lightblue;
  height: 700px;
  width: 100%;
  border-radius: 10px;
  overflow: auto;
}
.toDoListAreaRowEven {
  background-color: lightblue;
}
.toDoListAreaRowOdd {
  background-color: lightgray;
}
.toDoListAreaRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}
.inputAreaParent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.inputField {
  width: 100%;
  height: 200px;
  background-color: transparent;
  border: solid 5px lightblue;
  border-radius: 10px;
  font-size: 1.5rem;
  outline: none;
  color: white;
  resize: none;
  padding: 10px;
  transition: 0.5s all;
}
.inputField:focus {
  border: solid 5px lightgray;
}
.titleInputField {
  height: 50px;
}
.submitButton {
  height: 50px;
  width: 5vw;
  cursor: pointer;
  color: lightblue;
  background-color: transparent;
  font-size: 1vw;
  border: solid 5px lightblue;
  border-radius: 10px;
  font-weight: bolder;
  transition: 0.5s all;
}
.submitButton:hover {
  color: black;
  background-color: lightblue;
}
.toDoTaskLabel {
  color: black;
  padding: 0 0 0 20px;
  max-width: 600px;
  word-wrap: break-word;
}
.removeButton, .editButton {
  height: 50px;
  width: 50px;
  background-color: transparent;
  color: red;
  font-size: 2rem;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  transition: 0.5s color;
  margin-right: 20px;
}
.editButton {
  color: blue;
}
.removeButton:hover, .editButton:hover {
  color: black;
}
.taskContentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.taskContentParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkboxParent {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox, .customizedCheckBox {
  width: 70px;
  height: 70px;
  position: absolute;
}
.checkbox {
  cursor: pointer;
  opacity: 0;
}
.customizedCheckBox {
  background-color: black;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightArrow {
  color: blue;
  font-size: 2rem;
}
.submitButtonsBox {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.inputsAndFiltersBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}
.inputAreaParentUpper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 40%;
  height: 400px;
}
.filtersBox {
  background-color: transparent;
  border: solid 5px lightblue;
  width: 40%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding-bottom: 10px;
}
.filtersBoxTitle {
  color: lightblue;
  text-align: center;
}
.radioButton {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.filtersBox {
  color: white;
}
.radioButtonFilter {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, auto);  /* 2 rows */
  gap: 1rem;
}